html,
body {
  width: 100%;
  height: 100%;
  background: darkgray;
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
  user-select: none;
  font-size: 14px;
}

#topbar {
  width: 100%;
  height: 40px;
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#topbar[data-disabled="Y"] {
  color: gray;
  cursor: not-allowed;
}

#topbar span {
  height: 100%;
  vertical-align: middle;
  line-height: 40px;
  padding: 0 10px;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex-item;
}

#topbar[data-disabled="N"] .action {
  cursor: pointer;
}

#topbar[data-disabled="N"] .action:hover {
  color: gray;
}

#topbar[data-disabled="N"] .action:active {
  background: gray;
}

#topbar span input {
  width: 20px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

#topbar span input::-webkit-outer-spin-button,
#topbar span input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#canvasContainer {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 45px;
  bottom: 5px;
  display: none;
  overflow: scroll;
}

#canvasContainer canvas {
  display: block;
  margin: 10px auto;
}